In [6]:
interger_number = 2

In [7]:
float_number = 2.0

In [3]:
example_string = 'Example'

In [8]:
example_tuple = (1,2,3,4,5)

In [9]:
example_int_list = [1,2,3,4,5]

In [12]:
example_dictionary = {'one' : 1, 'two' : 2, 'three' : 3, 'four' : 4}

In [13]:
print(interger_number)

2

In [14]:
print(float_number)

2.0

In [16]:
print(example_string)

Example

In [17]:
print(example_tuple)

(1, 2, 3, 4, 5)

In [18]:
print(example_int_list)

[1, 2, 3, 4, 5]

In [19]:
print(example_dictionary)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [20]:
type(interger_number)

int

In [21]:
type(float_number)

float

In [22]:
type(example_string)

str

In [23]:
type(example_tuple)

tuple

In [24]:
type(example_int_list)

list

In [26]:
type(example_dictionary)

dict

In [27]:
int(float_number)

2

In [29]:
float(interger_number)

2.0

In [30]:
int('2.0')

ValueError: invalid literal for int() with base 10: '2.0'

In [31]:
int('2')

2

In [32]:
float('2.0')

2.0

In [33]:
str(1)

'1'

In [34]:
name = 'Alex Hoffman'

In [35]:
name.upper()

'ALEX HOFFMAN'

In [36]:
print(name)

Alex Hoffman

In [38]:
name_upper_case = name.upper

In [39]:
name_list = ['Alex', 'Dave', 'Joe']

In [40]:
name_list.reverse()

In [41]:
print(name_list)

['Joe', 'Dave', 'Alex']

In [42]:
len(example_string)

7

In [43]:
len(example_tuple)

5

In [46]:
len(name_list)

3

In [47]:
example_string = 'Hello World'

In [48]:
example_tuple = (1,2,3,4,5,6)

In [50]:
print(example_string[3])

l

In [51]:
print(example_tuple[1])

2

In [55]:
print(name[7])

f

In [56]:
print(example_tuple[4])

5

In [57]:
print(name_list[2])

Alex

In [60]:
my_dict = {"Hello" : 'Hi', "Seven" : "7", "Joe" : "Mama"}

In [61]:
len(my_dict)

3

In [62]:
my_dict["Hello"]

'Hi'

I'm supposed to type something here

In [63]:
Variable1 = 'Vijaya Yeruva'

In [64]:
len(Variable1)

13

In [65]:
Variable2 = ['Python', 'Machine Learning', 'Deep Learning']

In [66]:
len(Variable2)

3

In [67]:
Variable3 = (4,9,16,25)

In [68]:
len(Variable3)

4

In [69]:
Variable4 = [2.0, 3.0, 5.0, 7.0, 11.0]

In [70]:
len(Variable4)

5

In [71]:
Variable5 = {'key1': 65537, 'key2': 1729, 'key3': 1806}

In [72]:
len(Variable5)

3

In [73]:
Variable6 = {'key1': 3.1415, 'key2': 2.68545, 'key3': 1.61803}

In [74]:
len(Variable6)

3

In [75]:
Variable7 = {1: 'Jaime', 2: 'Jack', 3:'Joey'}

In [76]:
len(Variable7)

3

In [77]:
Variable8 = {1:['Jaime', 'Jack', 'Joey'], 2:['Deo', 'Katie', 'Lauren'], 3:['Mustafa', 'Luke', 'M']}

In [78]:
len(Variable8)

3

In [81]:
if name == "Alex Hoffman":
    print("Name is Correct")

Name is Correct

In [86]:
if name == "Joey Bob":
    print("Name is Joey")
elif name == "Bob the Builder":
    print("Name is Bob")
else:
    print("Name Not Found")

Name Not Found

In [88]:
for each_iteration in [0,1,2,3]:
    print(name[each_iteration])
    if (name[each_iteration] == ""):
        break

A
l
e
x

In [89]:
c = 0
while (c < 12):
    print(name[c])
    c = c + 1

A
l
e
x

H
o
f
f
m
a
n

In [90]:
def print_name():
    print('My name is ' + name)
    return

In [91]:
print_name()

My name is Alex Hoffman

In [102]:
def find_hypotenuse(side_a, side_b):
    import numpy as np
    hypotenuse = np.sqrt((side_a**2) + (side_b**2))
    return hypotenuse

In [99]:
triangle_side_a = 3.0

In [100]:
triangle_side_b = 4.0

In [104]:
hypotenuse = find_hypotenuse(triangle_side_a, triangle_side_b)

In [105]:
print(hypotenuse)

5.0

In [107]:
for n in range(10):
    print_name()

My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman
My name is Alex Hoffman

In [109]:
def find_area_of_triangle(base, height):
    area = (base * height) / 2.0
    return area

In [110]:
def compute_triangle_properties(sA, sB):
    hyp = find_hypotenuse(sA, sB)
    A = find_area_of_triangle(sA, sB)
    return hyp, A

In [111]:
hypotenuse, tri_area = compute_triangle_properties(triangle_a, triangle_b)

In [113]:
print(hypotenuse)

5.0

In [114]:
print(tri_area)

6.0

In [129]:
def find_eucildean_distance(x, y):
    e_distance = 0
    base1 = 0
    base2= 0
    if (x[0] < y[0]):
        base1 = y[0] - x[0]
    else:
        base1 = x[0] - y[0]
    
    if (x[1] < y[1]):
        base1 = y[1] - x[1]
    else:
        base2 = x[1] - y[1]
        
    e_distance = find_hypotenuse(base1, base2)
        
    return e_distance

In [116]:
point_a = (1,2)

In [117]:
point_b = (2,4)

In [124]:
distance = find_eucildean_distance(point_a, point_b)

In [130]:
print(distance)

2.0

In [136]:
def find_circle_area(r):
    import numpy as np
    c_area = 0.0
    c_area = (r**2) * np.pi
    return c_area

In [132]:
radius = 5.0

In [137]:
circleArea = find_circle_area(radius)

In [138]:
print(circleArea)

78.53981633974483

In [186]:
def find_square_of_dict_values (myDict):
    myDict_square = {}
    l = len(myDict)
    c = 0
    my_list = ('one', 'two', 'three','four','five')
    for i in range(1, l+1):
        myDict[my_list[c]] = i**2 
        c = c+1
        print(myDict)
    myDict_square.update(myDict)
    return myDict_square

In [189]:
myDict = {'one' : 1, 'two' : 2, 'three' : 3, 'four' : 4, 'five' : 5}

In [190]:
myDict_square = find_square_of_dict_values(myDict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{'one': 1, 'two': 4, 'three': 3, 'four': 4, 'five': 5}
{'one': 1, 'two': 4, 'three': 9, 'four': 4, 'five': 5}
{'one': 1, 'two': 4, 'three': 9, 'four': 16, 'five': 5}
{'one': 1, 'two': 4, 'three': 9, 'four': 16, 'five': 25}

In [191]:
print(myDict_square)

{'one': 1, 'two': 4, 'three': 9, 'four': 16, 'five': 25}